.sidebar {
    min-width: 94px;
    background-color: #1F1F1F;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 42px;
    cursor: pointer;

    &__item {
        margin-bottom: 64px;
        display: flex;
        justify-content: center;
    }

    &__link {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    &__icon {
        width: 25px;
        height: 25px;
    }

    &__login-panel {
        position: absolute;
        top: 106px;
        background-color: #1F1F1F;
        border: 1px solid #79747E;
        padding: 20px;
    }

    &__login-button,
    &__logout-button {
        display: inline-block;
        text-align: center;
        border-radius: 100px;
        background-color: #00515D;
        color: #fff;
        padding: 7px;
        border: 1px solid #79747E;
        cursor: pointer;
        font-size: 14px;
        width: 100px;
        font-size: 14px;

        &:hover {
            background-color: #01363E;
        }

        &:active {
            background-color: #037C8E;
        }
    }

    &__login-button {
        margin-right: 7px;
    }
}

.hidden {
    display: none;
}